# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs/
*.log

# TestNG
test-output/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code / OS
.vscode/
.DS_Store

# Secret files (Critical!)
secret.properties
